h2 {
	text-align: center;
}
.jumbotron{
	color: black;
	background-color: white;
	background-image: url(../images/splash1.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: 50% 50%;
	border-style: solid;
	border-width: 3;
	border-color: black;
}

#display {
	font-size: 50px;
	text-align: center;
	color: black;

}

.question {
	background-image: url(../images/splash2.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 50% 100%;
}

.message {
	background-image: url(../images/elephant.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 165px;
}